streamlit==1.29.0
matplotlib==3.7.1
pandas==2.0.3
numpy==1.24.3
requests==2.31.0
plotly==5.18.0
types-requests==2.31.0.10
types-plotly==5.18.0.0
pandas-stubs==2.0.3.230814
types-matplotlib==3.7.2
types-setuptools==68.2.0.1
plotly-stubs==5.18.0.0 